<div id="video_list" class="<%= div_class %>">
    <% @videos.each do |v| %>
        <div class="vidframe">
            <%= render 'shared/video_frame', :url => get_video_url(v) %>
        </div>
        <% if parent_mode? %>
            <div class="mngbuttons">
                <%= form_for(:video, url: video_path(v), method: :patch) do |f| %>
                    <%= f.hidden_field :approved, value: 'true' %>
                    <%= f.submit "Approve", class: 'btn btn-primary' %>
                <% end %>
                <%= link_to "Delete", video_path(v), method: :delete, class: 'btn btn-primary' %>
            </div>
        <% end %>
    <% end %>
    <div id="video_paginate" class="<%= div_class %>">
        <%= will_paginate @videos %>
    </div>
</div>

