<div id='search-form-wrapper'>
<%= render 'tags/search', locals: { clear_tag: false } %>
</div>
<% @videos.each do |v| %>
    <div class="vidframe">
        <a href="<%= video_path(v) %>" data-remote="true"><%= image_tag v.thumbnail.url, alt: "thumbnail" %></a>
    </div>
    <% if parent_mode? %>
        <div class="mngbuttons">
            <%= form_for(:video, url: video_path(v), method: :patch, remote: true) do |f| %>
                <%= f.hidden_field :approved, value: 'true' %>
		<%= f.submit "Approve", data: { confirm: 'Approve: Are you sure?' }, class: 'btn btn-primary mng-button' %>
            <% end %>
	    <%= link_to "Delete", video_path(v), method: :delete, remote: true, data: { confirm: 'Delete: Are you sure?' }, class: 'btn btn-primary mng-button' %>
        </div>
    <% end %>
<% end %>
<div id="video_paginate" class="col-md-12">
    <% if parent_mode? %>
        <%= will_paginate @videos, params: { controller: 'static_pages', action: 'parent' } %>
    <% else %>
        <%= will_paginate @videos, params: { controller: 'static_pages', action: 'home' } %>
    <% end %>

</div>
