<% @videos.each do |v| %>
    <div class="vidframe">
	<% if manage_mode? %>
          <%= image_tag v.thumbnail.url, alt: 'thumbnail:' + v.title,  title: v.title, class: 'vid-thumbnail'%>
	<% else %>
          <a href="<%= video_path(v) %>" data-remote="true"><%= image_tag v.thumbnail.url, alt: 'thumbnail:' + v.title,  title: v.title, class: 'vid-thumbnail'%></a>
    <% end %>
    </div>
    <% if parent_mode? %>
        <div class="mngbuttons">
            <%= form_for(:video, url: video_path(v), method: :patch, remote: true) do |f| %>
		<% if review_mode? %>
                  <%= f.hidden_field :approved, value: 'true' %>
		  <%= f.submit "Approve", class: 'btn btn-primary mng-button' %>
		 <% else %>
                  <%= f.hidden_field :approved, value: 'false' %>
		  <%= f.submit "Review", class: 'btn btn-primary mng-button' %>
	         <% end %>
            <% end %>
	    <%= link_to "Delete", video_path(v), method: :delete, remote: true, data: { confirm: 'Delete: Are you sure?' }, class: 'btn btn-primary mng-button' %>
        </div>
    <% end %>
<% end %>
<div id="video-paginate">
    <% if parent_mode? %>
        <%= will_paginate @videos, params: { controller: 'videos', action: 'index' } %>
    <% else %>
        <%= will_paginate @videos, params: { controller: 'videos', action: 'index' } %>
    <% end %>

</div>
