<% @videos.each do |v| %>
  <div id="mng-wrapper">
    <div id="vidframe">
	<% if manage_mode? %>
          <%= image_tag v.thumbnail.url, alt: 'thumbnail:' + v.title,  title: v.title, class: 'vid-thumbnail'%>
	<% else %>
          <a href="<%= video_path(v) %>" data-remote="true"><%= image_tag v.thumbnail.url, alt: 'thumbnail:' + v.title,  title: v.title, class: 'vid-thumbnail'%></a>
    <% end %>
    </div>
    <% if parent_mode? %>
        <div id="mngbuttons">
            <%= form_for(:video, url: video_path(v), method: :patch, remote: true) do |f| %>
		<% if review_mode? %>
                  <%= f.hidden_field :approved, value: 'true' %>
		  <%= f.submit "Approve", id: 'mng-aprve-del-btn', class: 'btn-lg btn-primary' %>
		 <% else %>
                  <%= f.hidden_field :approved, value: 'false' %>
		  <%= f.submit "Review", id: 'mng-aprve-del-btn', class: 'btn-lg btn-primary' %>
	         <% end %>
            <% end %>
	    <%= link_to "Delete", video_path(v), method: :delete, remote: true, data: { confirm: 'Delete: Are you sure?' }, id: "mng-del-btn", class: 'btn-lg btn-primary' %>
        </div>
    <% end %>
  </div>
<% end %>
<div id="video-paginate">
    <% if parent_mode? %>
	    <%= will_paginate @videos, params: { controller: 'videos', action: 'index', tags: { name: get_search_key } } %>
    <% else %>
	    <%= will_paginate @videos, params: { controller: 'videos', action: 'index', tags: { name: get_search_key }} %>
    <% end %>

</div>
