    <%= form_for(@video, url: videos_path, method: :post, remote: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :youtube_id, 'URL or ID of YouTube Video to Add', class: 'col-form-label col-form-label-lg' %>
        <%= f.text_field :youtube_id, class: 'form-control input-lg' %>
        <%= f.label :tag_list, 'Tags (comma separated list of words and phrases)', class: 'col-form-label col-form-label-lg' %>
        <%= f.text_field :tag_list, class: 'form-control input-lg' %>
	<div class='btn-toolbar'>
	<%= button_tag 'Reset', type: 'submit', name: 'reset', value: true, id: 'add-vid-reset', class: 'btn-lg btn-primary' %><%= f.submit 'Submit', id: 'add-vid-sbmt', class: 'btn-lg btn-primary' %>
	</div>
    <% end %>
