<header>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
	  <li class="navbar-left navbar-text">Account Type: <%= AccountType.type_name(current_user.account_type_id).capitalize %></li>
          <li class="navbar-left navbar-text" id="video-count">Videos: <%= video_count_display %> </li>
       <% end %>
       <li class="active"><%= link_to app_name, root_path %></li>
       <li class="navbar-right"><%= link_to "About",  about_path, target: :_blank  %></li>
       <li class="navbar-right"><%= link_to "FAQ",    faq_path, target: :_blank  %></li>
       <li class="navbar-right"><%= link_to "Help",   help_path, target: :_blank %></li>
       <% if user_signed_in? %>
         <li class="navbar-right dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b> </a>
         <ul class="navbar-right dropdown-menu">
           <% if parent_mode? %>
             <li class="navbar-right"><%= link_to "Account Details", edit_user_registration_path %></li>
             <li class="navbar-right"><%= link_to "Cancel Account", user_registration_path, data: { confirm: "Cancel account: Are you sure?" }, method: :delete %></li>
              <li class="navbar-right divider"></li>
              <li class="navbar-right"><%= link_to "Application Settings", settings_path %></li>
           <% end %>
           <li class="navbar-right divider"></li>
           <li class="navbar-right"> <%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
         </ul>
        </li>
        <li class="navbar-right"><%= link_to "Home",   root_path %></li>
        <% else %>
          <li class="navbar-right"><%= link_to "Log in", user_session_path %></li>
        <% end %>
      </ul>
    </nav>
</div>
</header>
