<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Allows a parent to preview Youtube videos before allowing their children to view them.">
  <meta name="google-site-verification" content="95LJbxl1jFiTte--z-oN6aw7BBOmCAqq_972VRIUBrM" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% if Rails.env.production? %>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108879313-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-108879313-1');
</script>
<% end %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="app_notices">
  <p id="notice" class="notice"><%= notice %></p>
  <p id="alert" class="alert"><%= alert %></p>
</div>
<%= yield %>
</body>
</html>
