<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Kid friendly YouTube viewer. Kids view videos that their parents review and approve first."
  <meta name="google-site-verification" content="95LJbxl1jFiTte--z-oN6aw7BBOmCAqq_972VRIUBrM" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% if !user_signed_in? %>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "name": "Your Family UTube Demo",
  "description": "Watch a brief demonstration of the basic funtions of the Your Family UTube application",
  "thumbnailUrl": "http://i3.ytimg.com/vi/4jsnQgwb0Lo/maxresdefault.jpg",
  "uploadDate": "2017-10-30T04:33:00-04:00",
  "duration": "PT3M02S",
  "publisher": {
    "@type": "Organization",
    "name": "Vast Dawn Software",
    "logo": "https://familyutube.herokuapp.com/favicon.ico"
  },
  "contentUrl": "https://youtu.be/4jsnQgwb0Lo",
  "embedUrl": "<iframe width='560' height='315' src=;https://www.youtube.com/embed/4jsnQgwb0Lo' frameborder='0' allowfullscreen></iframe>"
}
</script>
<% end %>
<% if Rails.env.production? %>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '139994663318298');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=139994663318298&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
</noscript></script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108879313-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-108879313-1');
</script>
<% end %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="app_notices">
  <p id="notice" class="notice"><%= notice %></p>
  <p id="alert" class="alert"><%= alert %></p>
</div>
<%= yield %>
</body>
</html>
